<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: styles}"></th:block>
</head>
<th:block th:replace="~{fragments :: custom-navbar}"></th:block>

<body>
    <div class="container">
        <div class="row">
            <a title="Crea ingrediente" class="btn btn-outline-primary my-2" th:href="@{/ingredients/create}">
                Crea un nuovo ingrediente
            </a>

            <h1 class="text-center">Elenco dei nostri ingredienti</h1>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Numero di pizze in cui è presente</th>
                    <th></th>

                </thead>
                <tbody>
                    <th:block th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                        <tr>
                            <td th:text="*{name}"></td>
                            <td th:text="*{pizzas.size()}"></td>
                            <td class="text-end"><a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}"
                                    class="btn btn-primary" title="Modifica">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:data-bs-target="'#modal'+${ingredient.id}" title="Elimina">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" th:id="'modal'+${ingredient.id}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Elimino ingrediente [[${ingredient.name}]]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Sei sicuro?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Annulla</button>
                                        <form th:action="@{/ingredients/delete/{id}(id=${ingredient.id})}"
                                            method="post">
                                            <button type="submit" class="btn btn-danger">
                                                Elimina
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <th:block th:replace="~{fragments :: scripts}"></th:block>
</body>

</html>