*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, li {
    list-style: none;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.fixed-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}